{% extends 'base.html' %}

{% block title %}
Organizer
{% endblock %}

{% block menu %}
<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="#">Organizer<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Performance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Rehearsal</a>
    </li>
</ul>
{% endblock %}

{% block header %}
<h1 class="display-4">Organizer</h1>
{% endblock %}

{% block content %}

<!-- Nav tabs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainMenu"
            aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarMainMenu">
        <ul class="nav nav-tabs navbar-nav justify-content-md-center" id="mainMenuTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="song-tab" data-toggle="tab" href="#song" role="tab"
                   aria-controls="song" aria-selected="false">Songs</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="setlist-tab" data-toggle="tab" href="#setlist" role="tab"
                   aria-controls="setlist" aria-selected="true">Setlists</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="section-tab" data-toggle="tab" href="#section" role="tab"
                   aria-controls="section"
                   aria-selected="false">Sections</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="action-tab" data-toggle="tab" href="#action" role="tab"
                   aria-controls="action" aria-selected="false">Actions</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane" id="setlist" role="tabpanel" aria-labelledby="setlist-tab">
        <div class="jumbotron">
            <h1 class="display-4">Setlists
                <button type="button" class="btn btn-primary  btn-lg"><i class="fas fa-folder-plus"></i></button>
            </h1>
            <form>
                <div class="form-row">
                    <div class="col-md-2 mb-2">
                        <label for="setlist_band">Band</label>
                        <select class="custom-select" id="setlist_band">
                            <option value="-1">All</option>
                            {% for band in bands %}
                            <option value="{{ band['id'] }}">{{ band }}</option>
                            {% endfor %}
                            <option selected disabled value="">filter by Band...</option>
                        </select>
                        <button class="btn"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="setlist_instrument">Instrument</label>
                        <select class="custom-select" id="setlist_instrument">
                            <option value="-1">All</option>
                            {% for band in bands %}
                            <option value="{{ band['id'] }}">{{ band }}</option>
                            {% endfor %}
                            <option selected disabled value="">filter by Instrument...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                </div>
            </form>
            <hr class="my-4">
            <div class="row">
                <div class="col-md-3">
                    <table class="table table-striped table-light table-hover"
                           id="table"
                           data-toggle="table"
                           data-detail-view="false"
                           data-detail-view-icon="false"
                           data-detail-view-by-click="true"
                           data-sort-class="table-active"
                           data-sortable="true"
                           data-detail-formatter="detailFormatter"
                           data-url="/setlists">
                        <thead>
                        <tr>
                            <th data-field="name" data-sortable="true">Name</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-8">
                    <div class="jumbotron" id="details">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane active" id="song" role="tabpanel" aria-labelledby="song-tab">
        <div class="jumbotron">
            <h1 class="display-4">Songs</h1>
            <form>
                <div class="form-row">
                    <div class="col-md-2 mb-2">
                        <label for="song_band">Band</label>
                        <select class="custom-select" id="song_band">
                            <option value="-1">All</option>
                            {% for band in bands %}
                            <option value="{{ band['id'] }}">{{ band }}</option>
                            {% endfor %}
                            <option selected disabled value="">filter by Band...</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="song_instrument">Instrument</label>
                        <select class="custom-select" id="song_instrument">
                            <option value="-1">All</option>
                            {% for band in bands %}
                            <option value="{{ band['id'] }}">{{ band }}</option>
                            {% endfor %}
                            <option selected disabled value="">filter by Instrument...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                </div>
            </form>
            <hr class="my-4">
            <div class="row">
                <div class="col-md-3 md-3">
                    <table class="col-md-3 md-3 table table-striped table-light table-hover"
                           id="tblsongs"
                           data-toggle="table"
                           data-detail-view="false"
                           data-detail-view-icon="false"
                           data-detail-view-by-click="true"
                           data-sort-class="table-active"
                           data-sortable="true"
                           data-detail-formatter="detailFormatter"
                           data-url="/songs">
                        <thead>
                        <tr>
                            <th data-field="name" data-sortable="true">Name</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="col">
                    <form>
                        <div class="form-row">
                            <div class="col-md-2 mb-2">
                                <label for="song_name">Name</label>
                                <input id="song_name" aria-valuetext="Name">
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="song_composer">Composer</label>
                                <input id="song_composer" aria-valuetext="composer">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="section" role="tabpanel" aria-labelledby="section-tab">
        <div class="jumbotron">
            <h1>Sections</h1>
            <p>bla bla bla bla</p>
        </div>
    </div>
    <div class="tab-pane" id="action" role="tabpanel" aria-labelledby="action-tab">
        <div class="jumbotron">
            <h1>Actions</h1>
            <p>bla bla bla bla</p>
        </div>
    </div>
</div>
{% endblock %}