{% extends 'base.html' %}
{% block title %}
Title
{% endblock %}

{% block menu %}
<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="#">
            Menuitem<span class="sr-only">(current)</span>
        </a>
    </li>
</ul>
{% endblock %}

{% block header %}
<h1 class="display-4">Header</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
    <div
            id="dataCarousel"
            class="carousel slide datacontroller"
            data-ride="carousel"
            data-interval="false"
    >
        <div class="carousel-inner">
            <div class="carousel-item active col">
                <div class="row">
                    <div class="col-md-4">
                        <table class="table table-striped table-light table-hover"
                               id="itemlist"
                               data-toggle="table"
                               data-detail-view="false"
                               data-detail-view-icon="false"
                               data-detail-view-by-click="true"
                               data-sort-class="table-active"
                               data-sortable="true"
                               data-detail-formatter="getItemDetails"
                               data-url="/setlists">
                            <thead>
                            <tr>
                                <th data-field="name" data-sortable="true">Name</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <form id="setlistDetails">
                            <div class="form-row">

                                <label for="setlistName">Setlist</label>
                                <input type="text" class="form-control" id="setlistName">
                            </div>
                            <div class="form-row">
                                <label for="showName">
                                    Show
                                </label>
                                <input type="text" class="form-control" id="showName">
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label for="songsList">Songs</label>
                                    <table class="table table-striped table-light table-hover"
                                           id="songsList"
                                           data-toggle="table"
                                           data-detail-view="false"
                                           data-detail-view-icon="false"
                                           data-detail-view-by-click="true"
                                           data-sort-class="table-active"
                                           data-sortable="true"
                                           data-detail-formatter="getItemDetails"
                                           data-url="/setlists">
                                        <thead>
                                        <tr>
                                            <th data-field="name" data-sortable="true">Name</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename='img/stage.jpeg') }}" class="d-block w-100 h-50" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename='img/score.jpg') }}" class="d-block w-100 h-50" alt="...">

            </div>
        </div>
        <!--<a class="carousel-control-prev" href="#dataCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#dataCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>-->
    </div>
</div>
<script type="text/javascript">

</script>
{% endblock %}