<!DOCTYPE html>
<title>{% block title %}{% endblock %} | Setlist Manager</title>
<!--<link rel=stylesheet href=/static/style.css type=text/css>-->
<link rel=stylesheet href=/static/css/bootstrap.css type=text/css>
<link rel=stylesheet href=/static/css/bootstrap-table.css type=text/css>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Setlist manager</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </header>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="/">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="bi">
                              <use xlink:href="static/bootstrap-icons/bootstrap-icons.svg#inboxes"/>
                          </svg>
                          Repertoire
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="setlists">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="bi">
                              <use xlink:href="static/bootstrap-icons/bootstrap-icons.svg#sort-down-alt"/>
                          </svg>
                          Setlists
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="shows">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="bi">
                              <use xlink:href="static/bootstrap-icons/bootstrap-icons.svg#calendar"/>
                          </svg>
                          Shows
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="live">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="bi">
                              <use xlink:href="static/bootstrap-icons/bootstrap-icons.svg#aspect-ratio"/>
                          </svg>
                          Live Mode
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="settings">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="bi">
                              <use xlink:href="static/bootstrap-icons/bootstrap-icons.svg#gear"/>
                          </svg>
                          Settings
                      </a>
                  </li>
              </ul>
          </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {% block filter %}{% endblock %}
        {% block body %}{% endblock %}
      </main>
    </div>
  </div>

  <script src="static/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="static/js/bootstrap-table.min.js" crossorigin="anonymous"></script>
</body>