<!DOCTYPE html>
<title>{% block title %}{% endblock %} | Setlist Manager</title>
<!--<link rel=stylesheet href=/static/style.css type=text/css>-->
<link rel=stylesheet href=/static/css/bootstrap.css type=text/css>
<link rel=stylesheet href=/static/css/bootstrap-table.css type=text/css>
<link rel="stylesheet" href="/static/css/bootstrap-table-reorder-rows.min.css">
<link rel="stylesheet" href="/static/css/all.css">
<body>
<script src="static/js/jquery-3.5.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="static/js/bootstrap-table.min.js" crossorigin="anonymous"></script>
<script src="static/js/jquery.tablednd.js"></script>
<script src="static/js/bootstrap-table-reorder-rows.min.js"></script>
<script src="static/js/setlistmanager.js"></script>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Setlist manager</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
    </ul>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">
                            <i class="fa fa-home"></i>
                            Songs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="setlists">
                            <i class="fa fa-stream"></i>
                            Setlists
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="shows">
                            <i class="fa fa-calendar-day"></i>
                            Shows
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="live">
                            <i class="fa fa-power-off"></i>
                            Live Mode
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="midi">
                            <i class="fa fa-plug"></i>
                            MIDI
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="settings">
                            <i class="fa fa-cog"></i>
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block filter %}{% endblock %}
            {% block body %}{% endblock %}
        </main>
    </div>
</div>

</body>