{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block filter %}
  <div class="dropdown">
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Band
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">All Bands</a></li>
        <li><a class="dropdown-item" href="#">Band 1</a></li>
        <li><a class="dropdown-item" href="#">Band 2</a></li>
    </ul>
    <a class="btn ms-sm-auto flex-column" href="#" >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="bi">
          <use xlink:href="static/bootstrap-icons/bootstrap-icons.svg#plus"/>
      </svg>
    </a>
  </div>
{% endblock %}
{% block body %}
  <h1>Repertoire</h1>
<table class="table table-dark table-striped">

      <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Artist</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Happy</td>
      <td>Pharell Williams</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>I Love Rock'n'Roll</td>
      <td>Joan Jett</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Stand By Me</td>
      <td>Ben E. King</td>
    </tr>
  </tbody>


</table>
<!--
  <form action="" method=post>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <p>URL:
      <input type=text name=url value="{{ url }}" class=urlinput>
      <input type=submit value="Shorten">
  </form>-->
{% endblock %}
