{% extends "layout.html" %}
{% block title %}Setlists{% endblock %}
{% block filter %}
  <div class="dropdown">
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Band
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">All Bands</a></li>
        <li><a class="dropdown-item" href="#">Band 1</a></li>
        <li><a class="dropdown-item" href="#">Band 2</a></li>
    </ul>
    <a class="btn ms-sm-auto flex-column" href="#" >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="bi">
          <use xlink:href="static/bootstrap-icons/bootstrap-icons.svg#plus"/>
      </svg>
    </a>
  </div>
{% endblock %}
{% block body %}
<h1>Setlists</h1>
<table
        data-toggle="table"
        data-url="/setlists/json">
    <thead>
    <tr>
        <th data-field="id">#</th>
        <th data-field="band_name">Band</th>
        <th data-field="setlist_name">Setlist</th>
        <th data-field="set_name">Set</th>
    </tr>
    </thead>
</table>


<div class="row">
    <div class="col ordered-first m-2">
        <ul class="tree">
        {% for setlist in setlists %}
            <li class="">
                {{ setlist.setlist_name }}
            </li>
        {% endfor %}

        </ul>
    </div>
    <div class="col ordered-last m-2">

    </div>

</div>
{% endblock %}