{% extends "layout.html" %}
{% block title %}Shows{% endblock %}
{% block filter %}
  <div class="dropdown">
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Band
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">All Bands</a></li>
        <li><a class="dropdown-item" href="#">Band 1</a></li>
        <li><a class="dropdown-item" href="#">Band 2</a></li>
    </ul>
    <a class="btn ms-sm-auto flex-column" href="#" >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="bi">
          <use xlink:href="static/bootstrap-icons/bootstrap-icons.svg#plus"/>
      </svg>
    </a>
  </div>
{% endblock %}
{% block body %}
<h1>Shows</h1>
<div class="row">
    <div class="col ordered-first md-auto">
        <script src="/static/js/bootstrap-table-filter-control.min.js"></script>
        <table
                id="showstable"
                data-classes="table table-borderless table-hover table-sm"
                data-toggle="table"
                data-url="/shows/json"
                data-filter-control="true"
                data-show-search-clear-button="true">
            <thead>
            <tr>
                <th data-field="show_name"
                    data-sortable="true"
                    data-filter-control="select"
                    class="me-auto">
                    Show
                </th>
                <th data-field="date"
                    data-sortable="true"
                    class="me-auto">
                    Date
                </th>
            </tr>
            </thead>
        </table>

        <script>
          $(function() {
            $('#showstable').bootstrapTable()
          })
        </script>

    </div>
    <div class="col">
        <link rel="stylesheet" href="static/css/jquery-ui.min.css">
        <script src="static/js/jquery-ui.min.js"></script>
        <div id="datepicker"></div>

        <script>
        $( "#datepicker" ).datepicker();
        </script>
    </div>
</div>
{% endblock %}