{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<link href="static/css/bootstrap-table-reorder-rows.css" rel="stylesheet">
<script src="static/js/bootstrap-table-filter-control.min.js"></script>
<script src="static/js/bootstrap-table-reorder-rows.min.js"></script>
<h1>Repertoire</h1>
<div class="row">

    <div id="songstoolbar">
        <div class="form-inline" role="form">

            <button id="add" type="submit" class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#songDetails">
                <i class="fas fa-plus"></i>
            </button>
            <button id="save" type="submit" class="btn btn-secondary">
                <i class="fas fa-save"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col ordered-first m-2">
        <table
                id="songstable"
                data-toolbar="#songstoolbar"
                data-classes="table table-borderless table-hover table-sm"
                data-toggle="table"
                data-show-refresh="false"
                data-show-toggle="false"
                data-show-columns="false"
                data-use-row-attr-func="false"
                data-reorderable-rows="false"
                data-url="/data/songs"
                data-filter-control="true"
                data-query-params="queryParams"
                data-detail-view="false"
                data-detail-view-by-click="true"
                data-detail-formatter="songsDetailFormatter"
                data-detail-view-icon="false">
            <thead>
            <tr>
                <!-- <th data-field="band_name"
                    data-sortable="true"
                    data-filter-control="select"
                    class="me-auto">
                    Band
                </th>-->
                <th data-field="song_name"
                    data-sortable="true"
                    data-filter-control="input"
                    class="me-auto">
                    Song
                </th>
                <th data-field="composer_name"
                    data-sortable="true"
                    data-filter-control="input"
                    class="me-auto">
                    Artist
                </th>
            </tr>
            </thead>
        </table>
    </div>


    <div class="modal fade" id="songDetails">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="songDetailsModalLabel">add Song</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="songname" class="form-label">Title</label>
                            <input type="text" class="form-control" id="songname">
                        </div>
                        <div class="mb-3">
                            <label for="artist" class="form-label">Artist</label>
                            <div class="btn-group">
                                <select id="artist" class="form-select" data-live-search="true">
                                </select>
                                <button type="button" class="btn btn-secondary">
                                    <i class="col ordered-col-last fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="version" class="form-label">Version</label>
                            <input type="text" class="form-control" id="version">
                        </div>
                        <div class="mb-3">
                            <table id="songparts"
                                   data-reorderable-rows="true"
                            >
                                <thead>
                                    <tr>
                                        <th data-field="name" >
                                            Parts
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="mb-3">
                            <div class="btn-group">
                                <input type="text" class="form-control" id="newSongpart">
                                <i id="addSongpart" class="fas fa-plus"></i>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="acceptButton" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Fill song details artists drop down with data.
    $(document).ready(function(){
        $.getJSON("/data/artists", function(result){
            $("#artist").empty();
            $("#artist").append('<option selected></option>');
            $.each(result, function(i, artist){
                $("#artist").append('<option value="' + artist.id + '">' + artist.name + "</option>");
            });
        });
    });
    $(function() {
        $('#songstable').bootstrapTable();
    });


    $('#songstable').bootstrapTable({
        onLoadSuccess: function (data) {
            var html = [];
            var bandids = [];
            html.push('<option selected value="null">All Bands</option>');
            data.forEach((item) => {
                if (!bandids[item.id]) {
                    bandids[item.id] = item.band_name
                    html.push('<option value="' + item.band_id + '">' + item.band_name + '</option>')
                }
            });
            $('#bandselector').html(html);
        },
        onClickRow: function (row, $element, field) {
            //var modal = new bootstrap.Modal(document.getElementById('songDetails'));
            var modal = new bootstrap.Modal($('#songDetails')[0]);
            $('#songDetailsModalLabel').html('Edit');
            $('#songname').val(row['song_name']);
            $('#version').val(row['version']);
            $('#acceptButton').html('Update');
            $('#acceptButton').addClass('disabled');
            $('#newSongpart').val('');
            $('#artist')[0].selectedIndex = row['composer_id'];
            var lstparts = row['songparts'];
            var $table = $('#songparts');
            $('#songparts').bootstrapTable('removeAll',);
            $table.bootstrapTable({
                data: lstparts
            });

            modal.show();
        },
    });
    $('#addSongpart').click(appendSongPart);
    $('#newSongpart').keypress(function (event) {
        let keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == 13) {
            $('#addSongpart').click();
        }
    });
    function appendSongPart() {
        var sngprtname = $('#newSongpart').val();
        $('#songparts').bootstrapTable('append', { 'name': sngprtname });
        $('#newSongpart').val('');
    }



</script>
{% endblock %}
