.slide-switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.slide-switch + label {
    margin-top: 10px;
    margin-left:20px;
    text-indent: -40px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 20px;
    position: relative;
}

.slide-switch + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 18px;
    transition: 0.3s;
}

.slide-switch:checked + label {
    background: #bada55;
}

.slide-switch:checked + label:after {
    /* content: 'on';
    text-align: right; */
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.slide-switch:checked + label:active:after {
    width: 45px;
}

.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    background: transparent;
}

.datacontroller {
    display:inline-block;
}

/*
.machine-table {
background: green;
}
.machine-table + thead + tr + th {
background: green;
}
.machine-table + tbody {
    background: blue;
}