{% extends 'base.html' %}

{% block header %}
<h3>{% block title %}Setlists{% endblock %} <a class="action btn btn-primary btn-sm"
                                               href="{{ url_for('setlist.create') }}">

    <svg class="bi bi-plus" width="10px" height="10px" viewBox="0 0 16 16" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
              clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
    </svg>
</a></h3>
<!--<div class="dropdown">
    <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">
        Dropdown trigger
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li>Test</li>
        <li>Test 2</li>
    </ul>
</div>-->
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-md-8">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample1" href="#">Details</a>


                <div class="jumbotron jumbotron-fluid collapse multi-collapse" id="multiCollapseExample1">
                    <form>
                        <div class="form-group">
                            <label for="setlistName">Name</label>
                            <input class="form-control" id="setlistName">
                        </div>
                        <div class="form-group">
                            <div class="dropdown">
                                <label for="showsButton">Show</label>
                                <a class="form-control" id="showsButton" style="text-align: right;"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="Show">
                                    2020-08-19 Stadtfest Siegburg (Anne Bude)<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="showsButton">
                                    <li><a class="dropdown-item active" href="#">2020-08-19 Stadtfest Siegburg (Anne
                                        Bude)</a></li>
                                    <li><a class="dropdown-item" href="#">2020-08-19 Stadtfest Siegburg (Boom Boom
                                        5)</a></li>
                                    <li><a class="dropdown-item" href="#">2020-09-15 70er Geburtstag Hartmut (Boom
                                        Boom
                                        5)</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">Songs</a>
            </li>
        </ul>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-4">
        <ul class="list-group d-inline-flex">
            {% for setlist in setlists %}
            <li class="list-group-item">{{ setlist['name'] }}
                <a class="action badge badge-dark" href="{{ url_for('setlist.update', id=setlist['id']) }}">...</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        <h2>Details</h2>
        <p>
            some Text
        </p>
    </div>
</div>-->
{% endblock %}