<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Setlist Manager</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme_dark.css') }}">
</head>
<body>
<div class="container">
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component live-less-editor-hovercontainer"
                     data-relatedvars="navbar-height,navbar-margin-bottom,navbar-border-radius,navbar-collapse-max-height,navbar-default-bg,navbar-default-border,navbar-default-brand-color,navbar-default-brand-hover-color,navbar-default-brand-hover-bg,navbar-default-color,navbar-default-link-color,navbar-default-link-hover-color,navbar-default-link-hover-bg,navbar-default-link-active-color,navbar-default-link-active-bg,navbar-default-link-disabled-color,navbar-default-link-disabled-bg,navbar-default-toggle-border-color,navbar-default-toggle-hover-bg,navbar-default-toggle-icon-bar-bg,navbar-default-link-active-bg,navbar-default-link-active-color">

                    <div class="navbar navbar-default">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Setlist Manager</a>
                        </div>
                        <div class="navbar-collapse collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="/">Dashboard</a>
                                </li>
                                <li>
                                    <a href="#">Library</a>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left">
                                <input type="text" class="form-control col-lg-8" placeholder="Search"/>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="wifisettings">WiFi Settings</a>
                                </li>
                                <li>
                                    <a href="midimonitor">MIDI Monitor</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul>
                    {% if g.user %}
                    <li><span>{{ g.user['username'] }}</span>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                        {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a>
                    <li><a href="{{ url_for('auth.login') }}">Log In</a>
                        {% endif %}
                </ul>
                <!--                <div class="bs-component live-less-editor-hovercontainer"-->
                <!--                     data-relatedvars="jumbotron-padding,jumbotron-color,jumbotron-bg,jumbotron-heading-color,jumbotron-font-size">-->
                <div class="jumbotron">
                    <div class="row">
                        <h1>{% block header %}{% endblock %}</h1>
                        {% for message in get_flashed_messages() %}
                        <div class="flash">{{ message }}</div>
                        {% endfor %}
                    </div>
                    <div class="row">

                        {% block content %}{% endblock %}
                    </div>
                </div>
                <!--                </div>-->
            </div>

        </div>
    </div>
</div>
</body>
</html>