{% extends 'base.html' %}

{% block header %}
<h1>Setlist Control Test</h1>
{% endblock %}
{% block content %}

<div class="bootstrap-table bootstrap4">
    <div class="fixed-table-container" style="padding-bottom: 0px;">
        <div class="col-md-4">
            <table id="table" data-toggle="table" data-flat="true" data-search="true"
                   data-url="{{ url_for('static', filename='json/setlist.json') }}"
                   class="table table-bordered table-hover col-md-4">
                <thead>
                <tr>
                    <th style="" data-field="name" data-sortable="true">
                        <div class="th-inner">Name</div>
                        <div class="fht-cell"></div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-7 jumbotron" style="margin-bottom: 0px;">
            <div class="container">
                some Text
            </div>
        </div>
    </div>
</div>


<script>
  $('#table').on('click-row.bs.table', function (e, row, $element, field) {
      // ...
      alert('selected: id(' + row["id"] + '), name (' + row["name"] + ')')
    })
</script>
<!--<div class="row">
    <div class="col-md-4">
        <ul class="list-group d-inline-flex">
            {% for setlist in setlists %}
            <li class="list-group-item">{{ setlist['name'] }}</li>
            {% endfor %}
        </ul>
    </div>
</div>-->
{% endblock %}